@page "/"

<PageTitle>Home</PageTitle>

<h1>Hello There!</h1>

Welcome to the Incident Management App! Please login to gain access to your acount!
<br />
<br />
<input type="text" name="username" />
<br />
<br />
<input type="password" name="password" />
<br />
<br />
<button class="btn btn-primary" @onclick="Login">Login</button>

@code {
    private void Login()
    {
        
    }
}
